<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.issc.datapath"
    version="0.1.0">
  <name>SPRTPrinter</name>
  <description>SPRTPrinter Plugin</description>
  <author>walton.wang</author>
  <repo>https://github.com/walton007/cordova-plugin-hello.git</repo>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/sprtprinter.js" target="plugins/com.issc.datapath/js/sprtprinter.js"/>

  <platform name="ios">
    <js-module src="www/sprtprinter.js" name="sprtprinter">
      <clobbers target="cordova.plugins.sprtprinter" />
    </js-module>

    <source-file src="src/ios/CDVSPRTPrinterPlugin.m" />
    <source-file src="src/ios/SPRTPrinter.m" />

    <header-file src="src/ios/CDVSPRTPrinterPlugin.h" />
    <header-file src="src/ios/SPRTPrinter.h" />

    <config-file target="config.xml" parent="/*">
      <feature name="SPRTPrinter">
        <param name="ios-package" value="CDVSPRTPrinterPlugin" />
      </feature>
    </config-file>

  </platform>


</plugin>